 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Neon Genesis Evangelion: The End of Evangelion  (IMDB rating: 8.1)</br>
Love O2O  (IMDB rating: 8.0)</br>
Fariña  (IMDB rating: 8.0)</br>
You Are My Sunday  (IMDB rating: 7.8)</br>
Barbie: Life in the Dreamhouse  (IMDB rating: 7.3)</br>
Eeda  (IMDB rating: 7.2)</br>
My Sassy Girl  (IMDB rating: 6.9)</br>
Hardcore Henry  (IMDB rating: 6.7)</br>
The Minions of Midas  (IMDB rating: 6.6)</br>
Luv Shuv Tey Chicken Khurana  (IMDB rating: 6.6)</br>
Madagascar: Escape 2 Africa  (IMDB rating: 6.6)</br>
天国的嫁衣  (IMDB rating: 6.5)</br>
A Tale of Two Kitchens  (IMDB rating: 6.3)</br>
Tuna Girl  (IMDB rating: 6.0)</br>
Fatso!  (IMDB rating: 5.7)</br>
Furtive  (IMDB rating: 5.0)</br>
All Because of You  (IMDB rating: 3.7)</br>
Agyaat  (IMDB rating: 2.8)</br>
Ludo  (IMDB rating: 2.8)</br>
Sometimes it rains  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>