 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Numberblocks  (IMDB rating: 8.9)</br>
Ethos  (IMDB rating: 8.6)</br>
Midnight Diner  (IMDB rating: 8.6)</br>
Call the Midwife  (IMDB rating: 8.4)</br>
Rang De Basanti  (IMDB rating: 8.2)</br>
Crazy, Lovely, Cool  (IMDB rating: 8.1)</br>
Don't F**k with Cats: Hunting an Internet Killer  (IMDB rating: 8.0)</br>
On My Block  (IMDB rating: 8.0)</br>
Special 26  (IMDB rating: 8.0)</br>
Kengan Ashura  (IMDB rating: 8.0)</br>
Berserk: The Golden Age Arc III - The Advent  (IMDB rating: 7.9)</br>
Reply 1994  (IMDB rating: 7.9)</br>
Madras Cafe  (IMDB rating: 7.7)</br>
HiGH&LOW The Movie 3: Final Mission  (IMDB rating: 7.7)</br>
Grey's Anatomy  (IMDB rating: 7.6)</br>
It's Fine  (IMDB rating: 7.6)</br>
My First First Love  (IMDB rating: 7.6)</br>
Bangkok Buddies  (IMDB rating: 7.6)</br>
Outer Banks  (IMDB rating: 7.6)</br>
Monty Python's Best Bits (mostly)  (IMDB rating: 7.5)</br>
</br></br><a href=index.html>start over</a>