 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Check The Store Next Door: The Next Chapter  (IMDB rating: 7.8)</br>
Mud  (IMDB rating: 7.4)</br>
Inuyasha the Movie 4: Fire on the Mystic Island  (IMDB rating: 7.3)</br>
Children of the Whales  (IMDB rating: 7.1)</br>
The Curse of Oak Island  (IMDB rating: 7.0)</br>
Return to the 36th Chamber  (IMDB rating: 7.0)</br>
50M2  (IMDB rating: 7.0)</br>
The Lonely Island Presents: The Unauthorized Bash Brothers Experience  (IMDB rating: 7.0)</br>
Larva Island  (IMDB rating: 6.4)</br>
Apostle  (IMDB rating: 6.3)</br>
Voyeur  (IMDB rating: 6.2)</br>
The Heartbreak Club  (IMDB rating: 6.2)</br>
Chuck Chicken  (IMDB rating: 6.0)</br>
Tremors: Shrieker Island  (IMDB rating: 5.5)</br>
Game  (IMDB rating: 5.2)</br>
</br></br><a href=index.html>start over</a>