 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_1_0.html>
america</br>
decide</br>
dating</br>
online</br>
created</br>
future</br>
event</br>
monster</br>
prove</br>
place</br>
money</br>
right</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_1_2.html>
romantic</br>
filmmaker</br>
hospital</br>
america</br>
involved</br>
breaking</br>
concert</br>
known</br>
island</br>
trapped</br>
place</br>
movie</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_1_4.html>
nation</br>
forced</br>
national</br>
reveal</br>
identity</br>
really</br>
getting</br>
member</br>
heart</br>
center</br>
romantic</br>
women</br>
</a></div>
</div></br>
Top picks:</br>
Rubaru Roshni  (IMDB rating: 8.9)</br>
Fate of Alakada  (IMDB rating: 8.7)</br>
True: Wuzzle Wegg Day  (IMDB rating: 8.5)</br>
Fifty  (IMDB rating: 8.4)</br>
Godless  (IMDB rating: 8.3)</br>
Terrace House: Boys & Girls in the City  (IMDB rating: 8.2)</br>
Caliphate  (IMDB rating: 8.2)</br>
Manu  (IMDB rating: 7.9)</br>
Trailer Park Boys: Say Goodnight to the Bad Guys  (IMDB rating: 7.9)</br>
Another Miss Oh  (IMDB rating: 7.9)</br>
The Bonfire of Destiny  (IMDB rating: 7.7)</br>
Workin' Moms  (IMDB rating: 7.6)</br>
Cable Girls  (IMDB rating: 7.6)</br>
I Am Divine  (IMDB rating: 7.6)</br>
Outback Truckers  (IMDB rating: 7.5)</br>
The Laundromat  (IMDB rating: 7.5)</br>
The Rolling Stones: Olé Olé Olé! – A Trip Across Latin America  (IMDB rating: 7.5)</br>
Girls & Panzer: The Movie  (IMDB rating: 7.4)</br>
Wet Hot American Summer: First Day of Camp  (IMDB rating: 7.4)</br>
Whose Vote Counts, Explained  (IMDB rating: 7.3)</br>
</br></br><a href=index.html>start over</a>