 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Twogether  (IMDB rating: 8.6)</br>
Borgen  (IMDB rating: 8.5)</br>
Into the Wild  (IMDB rating: 8.1)</br>
Dances with Wolves  (IMDB rating: 8.0)</br>
Life  (IMDB rating: 7.6)</br>
Searching for Bobby Fischer  (IMDB rating: 7.4)</br>
The International  (IMDB rating: 7.2)</br>
Kiss: The Series  (IMDB rating: 7.1)</br>
The Wedding Shaman  (IMDB rating: 7.1)</br>
Girl  (IMDB rating: 7.1)</br>
Kicking and Screaming  (IMDB rating: 6.8)</br>
Waiting...  (IMDB rating: 6.8)</br>
The Game  (IMDB rating: 6.7)</br>
Mary's Land  (IMDB rating: 6.6)</br>
Dumplin'  (IMDB rating: 6.6)</br>
Buster's Mal Heart  (IMDB rating: 6.1)</br>
The Polka King  (IMDB rating: 5.9)</br>
Bangkok Hell: Nor Chor - The Prisoners  (IMDB rating: 5.6)</br>
Hold the Dark  (IMDB rating: 5.6)</br>
A Mighty Team  (IMDB rating: 5.5)</br>
</br></br><a href=index.html>start over</a>