 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Great British Bake Off  (IMDB rating: 8.6)</br>
Rimba Racer  (IMDB rating: 8.2)</br>
The Boulet Brothers' Dragula  (IMDB rating: 7.9)</br>
Ee Nagaraniki Emaindi  (IMDB rating: 7.9)</br>
Strong  (IMDB rating: 7.6)</br>
The Circle  (IMDB rating: 7.4)</br>
The Circle France  (IMDB rating: 7.4)</br>
The Queen  (IMDB rating: 7.2)</br>
Sugar Rush  (IMDB rating: 7.1)</br>
Skin Wars  (IMDB rating: 7.1)</br>
The Chefs Line  (IMDB rating: 7.0)</br>
Dragons: Dawn Of The Dragon Racers  (IMDB rating: 7.0)</br>
Cabins in the Wild with Dick Strawbridge  (IMDB rating: 6.8)</br>
The Circle Brazil  (IMDB rating: 6.8)</br>
Wheel of Fortune  (IMDB rating: 6.7)</br>
Froning: The Fittest Man In History  (IMDB rating: 6.7)</br>
Cooked With Cannabis  (IMDB rating: 6.7)</br>
Eurovision Song Contest: The Story of Fire Saga  (IMDB rating: 6.5)</br>
Sing On! Spain  (IMDB rating: 6.3)</br>
Bhangra Paa Le  (IMDB rating: 6.1)</br>
</br></br><a href=index.html>start over</a>