 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Ash vs Evil Dead  (IMDB rating: 8.4)</br>
The King  (IMDB rating: 7.2)</br>
Survivor  (IMDB rating: 7.2)</br>
A Heavy Heart  (IMDB rating: 7.1)</br>
Funan  (IMDB rating: 6.9)</br>
Suffragette  (IMDB rating: 6.9)</br>
Mako Mermaids: An H2O Adventure  (IMDB rating: 6.9)</br>
My Runway  (IMDB rating: 6.3)</br>
Scams  (IMDB rating: 6.3)</br>
The Legacy of a Whitetail Deer Hunter  (IMDB rating: 5.5)</br>
Michael  (IMDB rating: 5.2)</br>
Fearless  (IMDB rating: 4.9)</br>
Hot Gimmick: Girl Meets Boy  (IMDB rating: 4.6)</br>
</br></br><a href=index.html>start over</a>