 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_3_0.html>
kingdom</br>
eccentric</br>
david</br>
finally</br>
wedding</br>
close</br>
island</br>
summer</br>
childhood</br>
friendship</br>
adventure</br>
friend</br>
</a></div>
<div class="column"><a href=0_0_0_0_3_2.html>
alive</br>
taken</br>
village</br>
revenge</br>
terrorist</br>
sinister</br>
power</br>
elite</br>
complete</br>
suicide</br>
rescue</br>
mission</br>
</a></div>
<div class="column"><a href=0_0_0_0_3_4.html>
little</br>
conspiracy</br>
women</br>
friend</br>
private</br>
break</br>
childhood</br>
society</br>
hidden</br>
control</br>
husband</br>
secret</br>
</a></div>
</div></br>
Top picks:</br>
The Rise of Phoenixes  (IMDB rating: 8.7)</br>
Kingdom  (IMDB rating: 8.4)</br>
Vagabond  (IMDB rating: 8.3)</br>
Star Trek  (IMDB rating: 8.3)</br>
This Evening  (IMDB rating: 8.3)</br>
Legend Quest: Masters of Myth  (IMDB rating: 8.2)</br>
Green Eggs and Ham  (IMDB rating: 8.2)</br>
Shonar Pahar  (IMDB rating: 8.1)</br>
Oh My Ghost  (IMDB rating: 8.1)</br>
Kal Ho Naa Ho  (IMDB rating: 8.0)</br>
A Secret Love  (IMDB rating: 7.9)</br>
Iris  (IMDB rating: 7.9)</br>
The Spy  (IMDB rating: 7.9)</br>
Durarara!!  (IMDB rating: 7.9)</br>
A Very Secret Service  (IMDB rating: 7.8)</br>
Nobody's Looking  (IMDB rating: 7.8)</br>
Nurse Jackie  (IMDB rating: 7.7)</br>
60 Days In  (IMDB rating: 7.7)</br>
Walt Disney Animation Studios Short Films Collection  (IMDB rating: 7.7)</br>
Spinning Out  (IMDB rating: 7.6)</br>
</br></br><a href=index.html>start over</a>