 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Occupied  (IMDB rating: 7.7)</br>
The Beginning of Life: The Series  (IMDB rating: 7.6)</br>
Special  (IMDB rating: 7.6)</br>
Guzaarish  (IMDB rating: 7.4)</br>
El Camino: A Breaking Bad Movie  (IMDB rating: 7.3)</br>
Snowpiercer  (IMDB rating: 7.1)</br>
YG Future Strategy Office  (IMDB rating: 7.1)</br>
The Dig  (IMDB rating: 7.1)</br>
Quién te cantará  (IMDB rating: 7.0)</br>
Calibre  (IMDB rating: 6.8)</br>
Blame!  (IMDB rating: 6.7)</br>
Public Works  (IMDB rating: 6.7)</br>
The Reconquest  (IMDB rating: 6.6)</br>
Ask the Doctor  (IMDB rating: 6.6)</br>
Accident  (IMDB rating: 6.6)</br>
Before I Fall  (IMDB rating: 6.5)</br>
Eggnoid  (IMDB rating: 6.2)</br>
Osmosis  (IMDB rating: 5.9)</br>
The Holiday Calendar  (IMDB rating: 5.7)</br>
Outside the Wire  (IMDB rating: 5.4)</br>
</br></br><a href=index.html>start over</a>