 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The IT Crowd  (IMDB rating: 8.5)</br>
Unbelievable  (IMDB rating: 8.4)</br>
Shine On with Reese  (IMDB rating: 7.7)</br>
Evil  (IMDB rating: 7.6)</br>
Gabriel Iglesias: I'm Sorry for What I Said When I Was Hungry  (IMDB rating: 7.5)</br>
No Tomorrow  (IMDB rating: 7.3)</br>
Dedh Ishqiya  (IMDB rating: 7.1)</br>
Fukrey  (IMDB rating: 6.9)</br>
Jewel's Catch One  (IMDB rating: 6.7)</br>
Little Miss Sumo  (IMDB rating: 6.7)</br>
WHAT / IF  (IMDB rating: 6.3)</br>
Firebrand  (IMDB rating: 5.2)</br>
Heroine  (IMDB rating: 5.1)</br>
Macho  (IMDB rating: 4.3)</br>
My Dear Warrior  (IMDB rating: 3.8)</br>
The Women Who Kill Lions  (IMDB rating: 3.7)</br>
Eve's Apple  (IMDB rating: nan)</br>
Diamond City  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>