 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Hannah Gadsby: Nanette  (IMDB rating: 8.3)</br>
Bill Burr: Paper Tiger  (IMDB rating: 8.2)</br>
John Mulaney: Kid Gorgeous at Radio City  (IMDB rating: 8.0)</br>
Louis C.K.: Live at The Comedy Store  (IMDB rating: 7.9)</br>
Tom Segura: Completely Normal  (IMDB rating: 7.8)</br>
Mike Birbiglia: What I Should Have Said Was Nothing  (IMDB rating: 7.6)</br>
John Mulaney & The Sack Lunch Bunch  (IMDB rating: 7.5)</br>
Kevin James: Sweat the Small Stuff  (IMDB rating: 7.5)</br>
Garfunkel and Oates: Trying to be Special  (IMDB rating: 7.4)</br>
Gabriel Iglesias: One Show Fits All  (IMDB rating: 7.3)</br>
Sebastian Maniscalco: Stay Hungry  (IMDB rating: 7.1)</br>
Jim Gaffigan: Cinco  (IMDB rating: 7.1)</br>
Maria Bamford: The Special Special Special!  (IMDB rating: 6.9)</br>
Sarah Silverman: A Speck of Dust  (IMDB rating: 6.8)</br>
Moshe Kasher: Live in Oakland  (IMDB rating: 6.8)</br>
Jeff Dunham: Unhinged in Hollywood  (IMDB rating: 6.7)</br>
Chris Rock: Tamborine  (IMDB rating: 6.6)</br>
Def Comedy Jam 25  (IMDB rating: 6.6)</br>
Marlon Wayans: Woke-ish  (IMDB rating: 6.5)</br>
Hari Kondabolu: Warn Your Relatives  (IMDB rating: 6.4)</br>
</br></br><a href=index.html>start over</a>