 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Shtisel  (IMDB rating: 8.6)</br>
Supernatural  (IMDB rating: 8.4)</br>
Pan's Labyrinth  (IMDB rating: 8.2)</br>
Hamid  (IMDB rating: 7.8)</br>
Dragon Quest: Your Story  (IMDB rating: 6.6)</br>
Chippa  (IMDB rating: 6.5)</br>
Gimme Shelter  (IMDB rating: 6.5)</br>
Rukh  (IMDB rating: 6.4)</br>
Sister, Sister  (IMDB rating: 6.2)</br>
Frank and Cindy  (IMDB rating: 6.1)</br>
French Toast  (IMDB rating: 5.7)</br>
Chosen  (IMDB rating: 5.5)</br>
Imperfect  (IMDB rating: 5.2)</br>
Mythily Veendum Varunnu...  (IMDB rating: 2.3)</br>
</br></br><a href=index.html>start over</a>