 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Cobra Kai  (IMDB rating: 8.6)</br>
Delhi Crime  (IMDB rating: 8.5)</br>
Unnatural Selection  (IMDB rating: 8.0)</br>
Les Misérables  (IMDB rating: 7.6)</br>
The Story of Us with Morgan Freeman  (IMDB rating: 7.5)</br>
Jaane Tu... Ya Jaane Na  (IMDB rating: 7.5)</br>
The Great Interior Design Challenge  (IMDB rating: 7.4)</br>
Howards End  (IMDB rating: 7.4)</br>
Safety Not Guaranteed  (IMDB rating: 7.0)</br>
Criminal: Spain  (IMDB rating: 6.9)</br>
From Paris with Love  (IMDB rating: 6.5)</br>
Mystic Pizza  (IMDB rating: 6.3)</br>
Otherhood  (IMDB rating: 6.1)</br>
Fishtronaut: The Movie  (IMDB rating: 5.8)</br>
Alaska Is a Drag  (IMDB rating: 5.7)</br>
The Late Bloomer  (IMDB rating: 5.2)</br>
Mariah Carey's Merriest Christmas  (IMDB rating: 5.0)</br>
Ms. Mammy  (IMDB rating: 4.6)</br>
Norm of the North: Keys to the Kingdom  (IMDB rating: 3.0)</br>
</br></br><a href=index.html>start over</a>