 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Still Game  (IMDB rating: 8.8)</br>
Monty Python's Flying Circus  (IMDB rating: 8.8)</br>
Middleditch & Schwartz  (IMDB rating: 8.7)</br>
Patriot Act with Hasan Minhaj  (IMDB rating: 8.3)</br>
Aunty Donna's Big Ol' House of Fun  (IMDB rating: 8.0)</br>
Adam Ruins Everything  (IMDB rating: 8.0)</br>
Big Mouth  (IMDB rating: 8.0)</br>
Portlandia  (IMDB rating: 7.8)</br>
I Think You Should Leave with Tim Robinson  (IMDB rating: 7.7)</br>
Jim Gaffigan: Obsessed  (IMDB rating: 7.6)</br>
Mike Birbiglia: Thank God for Jokes  (IMDB rating: 7.5)</br>
Jim Jefferies: Intolerant  (IMDB rating: 7.2)</br>
(The Hook Up Plan)  (IMDB rating: 7.2)</br>
The Joel McHale Show with Joel McHale  (IMDB rating: 7.2)</br>
Very Big Shot  (IMDB rating: 7.2)</br>
Disconnect  (IMDB rating: 6.9)</br>
Deon Cole: Cole Hearted  (IMDB rating: 6.9)</br>
Sam Kinison: Live in Vegas  (IMDB rating: 6.7)</br>
Reggie Watts: Spatial  (IMDB rating: 6.0)</br>
The Last Laugh  (IMDB rating: 5.6)</br>
</br></br><a href=index.html>start over</a>