 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_1_2_2.html>
stage</br>
people</br>
funny</br>
music</br>
sarah</br>
event</br>
comedian</br>
comic</br>
stand</br>
comedy special</br>
comedy</br>
special</br>
</a></div>
<div class="column"><a href=0_0_1_2_4.html>
point</br>
trapped</br>
train</br>
hospital</br>
musical</br>
stage</br>
original</br>
birthday</br>
think</br>
heart</br>
inside</br>
special</br>
</a></div>
</div></br>
Top picks:</br>
Hannah Gadsby: Nanette  (IMDB rating: 8.3)</br>
Bill Burr: Paper Tiger  (IMDB rating: 8.2)</br>
John Mulaney: Kid Gorgeous at Radio City  (IMDB rating: 8.0)</br>
Ricky Gervais: Humanity  (IMDB rating: 8.0)</br>
Hannah Gadsby: Douglas  (IMDB rating: 7.9)</br>
Louis C.K.: Live at The Comedy Store  (IMDB rating: 7.9)</br>
Jim Jefferies: Freedumb  (IMDB rating: 7.8)</br>
Tom Segura: Completely Normal  (IMDB rating: 7.8)</br>
Nailed It! Holiday!  (IMDB rating: 7.8)</br>
Bumping Mics with Jeff Ross & Dave Attell  (IMDB rating: 7.7)</br>
Meet the Drug Lords: Inside the Real Narcos  (IMDB rating: 7.6)</br>
Mike Birbiglia: What I Should Have Said Was Nothing  (IMDB rating: 7.6)</br>
John Mulaney & The Sack Lunch Bunch  (IMDB rating: 7.5)</br>
Kevin James: Sweat the Small Stuff  (IMDB rating: 7.5)</br>
Demetri Martin: Live (At The Time)  (IMDB rating: 7.4)</br>
The Night Shift  (IMDB rating: 7.4)</br>
Marc Maron: Thinky Pain  (IMDB rating: 7.4)</br>
Ali Wong: Hard Knock Wife  (IMDB rating: 7.4)</br>
Garfunkel and Oates: Trying to be Special  (IMDB rating: 7.4)</br>
Man to Man  (IMDB rating: 7.4)</br>
</br></br><a href=index.html>start over</a>