 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Originals  (IMDB rating: 8.2)</br>
Icarus  (IMDB rating: 7.9)</br>
Coronavirus, Explained  (IMDB rating: 7.7)</br>
Man Down  (IMDB rating: 7.7)</br>
Trotsky  (IMDB rating: 7.1)</br>
The Last O.G.  (IMDB rating: 6.9)</br>
We the Animals  (IMDB rating: 6.9)</br>
Kodachrome  (IMDB rating: 6.8)</br>
Dying to Tell  (IMDB rating: 6.8)</br>
The Lion Woman  (IMDB rating: 6.6)</br>
Russell Brand: Re:Birth  (IMDB rating: 6.5)</br>
Life Overtakes Me  (IMDB rating: 6.5)</br>
Rajma Chawal  (IMDB rating: 5.8)</br>
</br></br><a href=index.html>start over</a>