 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Our Planet  (IMDB rating: 9.3)</br>
Winter on Fire: Ukraine's Fight for Freedom  (IMDB rating: 8.4)</br>
River, el Más Grande Siempre  (IMDB rating: 8.1)</br>
Mission Blue  (IMDB rating: 7.9)</br>
Night on Earth: Shot in the Dark  (IMDB rating: 7.9)</br>
Diagnosis  (IMDB rating: 7.8)</br>
2,215  (IMDB rating: 7.8)</br>
Betty White: First Lady of Television  (IMDB rating: 7.8)</br>
The Show Must Go On: The Queen + Adam Lambert Story  (IMDB rating: 7.8)</br>
The Cuba Libre Story  (IMDB rating: 7.7)</br>
Islands of Faith  (IMDB rating: 7.7)</br>
Human Nature  (IMDB rating: 7.7)</br>
Rolling Thunder Revue: A Bob Dylan Story by Martin Scorsese  (IMDB rating: 7.6)</br>
What the F* Is Going On?  (IMDB rating: 7.6)</br>
The Social Dilemma  (IMDB rating: 7.6)</br>
HaMossad: Sipur Kisuy  (IMDB rating: 7.5)</br>
Born to Be Free  (IMDB rating: 7.5)</br>
The Playbook  (IMDB rating: 7.5)</br>
Reversing Roe  (IMDB rating: 7.4)</br>
Joan Didion: The Center Will Not Hold  (IMDB rating: 7.4)</br>
</br></br><a href=index.html>start over</a>