 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_2_1.html>
living</br>
starring</br>
humor</br>
stage</br>
african</br>
united</br>
comic</br>
modern</br>
center</br>
movie</br>
beautiful</br>
american</br>
</a></div>
<div class="column"><a href=0_0_0_0_2_2.html>
greatest</br>
racing</br>
terrifying</br>
course</br>
science</br>
brought</br>
biggest</br>
nation</br>
bring</br>
explore</br>
american</br>
history</br>
</a></div>
</div></br>
Top picks:</br>
Raja Rasoi Aur Anya Kahaniyan  (IMDB rating: 9.0)</br>
The Universe  (IMDB rating: 8.7)</br>
WWII in HD  (IMDB rating: 8.7)</br>
Rake  (IMDB rating: 8.5)</br>
Narcos: Mexico  (IMDB rating: 8.4)</br>
American Crime Story  (IMDB rating: 8.4)</br>
13th  (IMDB rating: 8.3)</br>
The Guild  (IMDB rating: 8.2)</br>
The Toys That Made Us  (IMDB rating: 8.1)</br>
Designated Survivor: 60 Days  (IMDB rating: 8.1)</br>
Sym-Bionic Titan  (IMDB rating: 8.1)</br>
Uppity: The Willy T. Ribbs Story  (IMDB rating: 8.0)</br>
Pee-wee's Playhouse  (IMDB rating: 8.0)</br>
Jeff Dunham: Arguing with Myself  (IMDB rating: 8.0)</br>
American Masters  (IMDB rating: 8.0)</br>
Rise of Empires: Ottoman  (IMDB rating: 8.0)</br>
Street Food: Latin America  (IMDB rating: 7.9)</br>
Secrets of Great British Castles  (IMDB rating: 7.8)</br>
BREAK IT ALL: The History of Rock in Latin America  (IMDB rating: 7.7)</br>
The Social Network  (IMDB rating: 7.7)</br>
</br></br><a href=index.html>start over</a>