 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
When the Camellia Blooms  (IMDB rating: 8.0)</br>
Invisible City  (IMDB rating: 7.4)</br>
Glitch  (IMDB rating: 7.3)</br>
Bitter Daisies  (IMDB rating: 7.1)</br>
The Indian Detective  (IMDB rating: 6.5)</br>
The Truth Seekers  (IMDB rating: 6.5)</br>
Behind Enemy Lines  (IMDB rating: 6.4)</br>
Triple 9  (IMDB rating: 6.3)</br>
Sigaram Thodu  (IMDB rating: 6.2)</br>
Roswell, New Mexico  (IMDB rating: 6.2)</br>
Line Walker  (IMDB rating: 6.1)</br>
The Suit  (IMDB rating: 5.5)</br>
Intuition  (IMDB rating: 5.3)</br>
Demonic  (IMDB rating: 5.3)</br>
Twin Murders: The Silence of the White City  (IMDB rating: 5.2)</br>
See You Yesterday  (IMDB rating: 4.2)</br>
</br></br><a href=index.html>start over</a>