 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Rubaru Roshni  (IMDB rating: 8.9)</br>
Fate of Alakada  (IMDB rating: 8.7)</br>
The Rolling Stones: Olé Olé Olé! – A Trip Across Latin America  (IMDB rating: 7.5)</br>
Girls & Panzer: The Movie  (IMDB rating: 7.4)</br>
Wet Hot American Summer: First Day of Camp  (IMDB rating: 7.4)</br>
The Road to El Camino: Behind the Scenes of El Camino: A Breaking Bad Movie  (IMDB rating: 7.2)</br>
End Game  (IMDB rating: 7.1)</br>
DTC -Yukemuri Junjou Hen- from HiGH & LOW  (IMDB rating: 6.8)</br>
Phobia 2  (IMDB rating: 6.7)</br>
Malcolm & Marie  (IMDB rating: 6.7)</br>
Mumbai Matinee  (IMDB rating: 5.2)</br>
The Larva Island Movie  (IMDB rating: 5.1)</br>
Rakkhosh  (IMDB rating: 4.7)</br>
</br></br><a href=index.html>start over</a>