 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
We Wish You a Metal Christmas  (IMDB rating: 7.5)</br>
Living with Yourself  (IMDB rating: 7.2)</br>
Dino Girl Gauko  (IMDB rating: 6.8)</br>
Dollar  (IMDB rating: 6.8)</br>
Pinky Memsaab  (IMDB rating: 6.5)</br>
Magmel of the Sea Blue  (IMDB rating: 6.2)</br>
The Warriors Gate  (IMDB rating: 5.4)</br>
The Unsettling  (IMDB rating: 5.1)</br>
Girls with Balls  (IMDB rating: 3.8)</br>
Grandmother's Farm  (IMDB rating: 3.2)</br>
Santa Banta Pvt Ltd  (IMDB rating: 2.8)</br>
Polar Bear: Spy on the Ice  (IMDB rating: nan)</br>
Calico Critters: A Town of Dreams  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>