 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Neon Genesis Evangelion  (IMDB rating: 8.5)</br>
Stargate SG-1  (IMDB rating: 8.4)</br>
Parasyte -the maxim-  (IMDB rating: 8.3)</br>
Cooked  (IMDB rating: 8.1)</br>
Black Hole Apocalypse  (IMDB rating: 8.0)</br>
Mobile Suit Gundam: Iron-Blooded Orphans  (IMDB rating: 7.9)</br>
Knights of Sidonia  (IMDB rating: 7.8)</br>
3Below: Tales of Arcadia  (IMDB rating: 7.8)</br>
The 100  (IMDB rating: 7.6)</br>
Invader ZIM: Enter the Florpus  (IMDB rating: 7.5)</br>
Star Trek: Enterprise  (IMDB rating: 7.5)</br>
Ancient Aliens  (IMDB rating: 7.3)</br>
The History of Future Folk  (IMDB rating: 7.2)</br>
You vs. Wild  (IMDB rating: 7.0)</br>
God Eater  (IMDB rating: 7.0)</br>
Planet Hulk  (IMDB rating: 6.8)</br>
Ghost of the Mountains  (IMDB rating: 6.8)</br>
Sick Note  (IMDB rating: 6.8)</br>
Banana Island Ghost  (IMDB rating: 6.7)</br>
Mine 9  (IMDB rating: 6.7)</br>
</br></br><a href=index.html>start over</a>