 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Twilight Zone  (IMDB rating: 9.0)</br>
Our Planet: Behind The Scenes  (IMDB rating: 8.4)</br>
Reply 1997  (IMDB rating: 8.2)</br>
Penny Dreadful  (IMDB rating: 8.2)</br>
A Thousand Days' Promise  (IMDB rating: 8.2)</br>
Autumn's Concerto  (IMDB rating: 8.0)</br>
American Horror Story  (IMDB rating: 8.0)</br>
Uma Maheswara Ugra Roopasya  (IMDB rating: 7.9)</br>
Norsemen  (IMDB rating: 7.8)</br>
Crashing  (IMDB rating: 7.7)</br>
Love (ft. Marriage and Divorce)  (IMDB rating: 7.7)</br>
At Dolphin Bay  (IMDB rating: 7.5)</br>
Love Is War  (IMDB rating: 7.3)</br>
American Odyssey  (IMDB rating: 7.3)</br>
Disappearance  (IMDB rating: 7.2)</br>
An Hour and a Half  (IMDB rating: 7.2)</br>
The Prince Who Turns into a Frog  (IMDB rating: 7.0)</br>
Bwakaw  (IMDB rating: 6.9)</br>
7 Años  (IMDB rating: 6.8)</br>
Quartet  (IMDB rating: 6.8)</br>
</br></br><a href=index.html>start over</a>