 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_2_0.html>
search</br>
dealing</br>
right</br>
estranged</br>
child</br>
travel</br>
discover</br>
brother</br>
death</br>
daughter</br>
mother</br>
father</br>
</a></div>
<div class="column"><a href=0_0_2_1.html>
simple</br>
going</br>
close</br>
girlfriend</br>
college</br>
future</br>
career</br>
father</br>
marriage</br>
romance</br>
couple</br>
relationship</br>
</a></div>
<div class="column"><a href=0_0_2_2.html>
brother</br>
friend</br>
handsome</br>
driver</br>
character</br>
house</br>
course</br>
prince</br>
romantic</br>
magical</br>
wrong</br>
night</br>
</a></div>
<div class="column"><a href=0_0_2_3.html>
decide</br>
night</br>
dance</br>
going</br>
competition</br>
teenage</br>
passion</br>
peace</br>
chance</br>
south</br>
magic</br>
music</br>
</a></div>
<div class="column"><a href=0_0_2_4.html>
revenge</br>
single</br>
death</br>
missing</br>
teenage</br>
husband</br>
friend</br>
estranged</br>
sister</br>
brother</br>
mother</br>
daughter</br>
</a></div>
</div></br>
Top picks:</br>
Hunter x Hunter  (IMDB rating: 8.9)</br>
La Grande Chaumière Violette  (IMDB rating: 8.9)</br>
Bill Hicks: Relentless  (IMDB rating: 8.7)</br>
True Tunes  (IMDB rating: 8.7)</br>
Your Lie in April  (IMDB rating: 8.6)</br>
Shtisel  (IMDB rating: 8.6)</br>
Schitt's Creek  (IMDB rating: 8.5)</br>
Julie and the Phantoms  (IMDB rating: 8.4)</br>
Ashes of Love  (IMDB rating: 8.4)</br>
Taylor Swift: Reputation Stadium Tour  (IMDB rating: 8.4)</br>
Hip Hop Evolution  (IMDB rating: 8.4)</br>
Supernatural  (IMDB rating: 8.4)</br>
The Three Deaths of Marisela Escobedo  (IMDB rating: 8.3)</br>
Last Tango in Halifax  (IMDB rating: 8.3)</br>
Master of None  (IMDB rating: 8.3)</br>
Kath & Kim  (IMDB rating: 8.3)</br>
The Get Down  (IMDB rating: 8.3)</br>
Super Deluxe  (IMDB rating: 8.3)</br>
Pan's Labyrinth  (IMDB rating: 8.2)</br>
El marginal  (IMDB rating: 8.2)</br>
</br></br><a href=index.html>start over</a>