 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Romance is a Bonus Book  (IMDB rating: 8.1)</br>
Start-Up  (IMDB rating: 8.1)</br>
The Death of Mr. Lazarescu  (IMDB rating: 7.9)</br>
My Shy Boss  (IMDB rating: 7.3)</br>
Bheeshma  (IMDB rating: 6.5)</br>
The CEO  (IMDB rating: 6.3)</br>
Borges Importadora  (IMDB rating: 5.9)</br>
Rich in Love  (IMDB rating: 5.8)</br>
The Promise  (IMDB rating: 5.7)</br>
Winchester  (IMDB rating: 5.5)</br>
Brews Brothers  (IMDB rating: 5.0)</br>
My Perfect Romance  (IMDB rating: 4.7)</br>
Stunt School  (IMDB rating: 4.4)</br>
Benchwarmers 2: Breaking Balls  (IMDB rating: 4.1)</br>
Some Assembly Required  (IMDB rating: 3.6)</br>
</br></br><a href=index.html>start over</a>