 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Jonathan Strange & Mr Norrell  (IMDB rating: 8.1)</br>
The Ivory Game  (IMDB rating: 7.9)</br>
Transformers: Prime  (IMDB rating: 7.9)</br>
Bending the Arc  (IMDB rating: 7.7)</br>
Heneral Luna  (IMDB rating: 7.6)</br>
Sherlock Holmes  (IMDB rating: 7.6)</br>
The Patriot  (IMDB rating: 7.2)</br>
El Dragón: Return of a Warrior  (IMDB rating: 7.0)</br>
Aussie Gold Hunters  (IMDB rating: 7.0)</br>
Marseille  (IMDB rating: 6.9)</br>
Heroin(e)  (IMDB rating: 6.8)</br>
The Outpost  (IMDB rating: 6.8)</br>
Crazy Delicious  (IMDB rating: 6.7)</br>
Naruto the Movie: Legend of the Stone of Gelel  (IMDB rating: 6.6)</br>
Ingress: The Animation  (IMDB rating: 6.6)</br>
Black or White  (IMDB rating: 6.6)</br>
Animal World  (IMDB rating: 6.5)</br>
Da 5 Bloods  (IMDB rating: 6.5)</br>
A Family Man  (IMDB rating: 6.5)</br>
ARQ  (IMDB rating: 6.4)</br>
</br></br><a href=index.html>start over</a>