 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_4_0.html>
little</br>
award</br>
powerful</br>
power</br>
adventure</br>
winning</br>
dream</br>
threat</br>
biggest</br>
greatest</br>
human</br>
world</br>
</a></div>
<div class="column"><a href=0_0_4_2.html>
discover</br>
magic</br>
place</br>
travel</br>
summer</br>
known</br>
bring</br>
embark</br>
ancient</br>
named</br>
journey</br>
world</br>
</a></div>
<div class="column"><a href=0_0_4_3.html>
award</br>
social</br>
company</br>
future</br>
hunter</br>
wrong</br>
forest</br>
french</br>
unique</br>
explore</br>
people</br>
world</br>
</a></div>
<div class="column"><a href=0_0_4_4.html>
modern</br>
friend</br>
fight</br>
great</br>
magical</br>
secret</br>
group</br>
mission</br>
change</br>
documentary</br>
social</br>
world</br>
</a></div>
</div></br>
Top picks:</br>
Forensic Files  (IMDB rating: 8.8)</br>
Black Mirror  (IMDB rating: 8.8)</br>
World War II In HD Colour  (IMDB rating: 8.7)</br>
Greatest Events of World War II in Colour  (IMDB rating: 8.7)</br>
StoryBots Super Songs  (IMDB rating: 8.6)</br>
Pose  (IMDB rating: 8.6)</br>
Bill Hicks: Revelations  (IMDB rating: 8.6)</br>
Trash Truck  (IMDB rating: 8.5)</br>
The Dark Crystal: Age of Resistance  (IMDB rating: 8.5)</br>
Community  (IMDB rating: 8.5)</br>
The Inbetweeners  (IMDB rating: 8.4)</br>
After Life  (IMDB rating: 8.4)</br>
Prison Playbook  (IMDB rating: 8.4)</br>
Ask the Storybots  (IMDB rating: 8.4)</br>
Sense8  (IMDB rating: 8.3)</br>
Kiss the Ground  (IMDB rating: 8.3)</br>
Rectify  (IMDB rating: 8.3)</br>
The Motorbike Show  (IMDB rating: 8.3)</br>
Eternal Love  (IMDB rating: 8.3)</br>
Grace and Frankie  (IMDB rating: 8.3)</br>
</br></br><a href=index.html>start over</a>