 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
True: Wuzzle Wegg Day  (IMDB rating: 8.5)</br>
Trailer Park Boys: Say Goodnight to the Bad Guys  (IMDB rating: 7.9)</br>
Whose Vote Counts, Explained  (IMDB rating: 7.3)</br>
Sugar Rush  (IMDB rating: 6.7)</br>
Harvey Street Kids  (IMDB rating: 6.4)</br>
Winsanity  (IMDB rating: 6.1)</br>
Yo-Kai Watch  (IMDB rating: 5.9)</br>
Alt-Right: Age of Rage  (IMDB rating: 5.9)</br>
Cut Throat City  (IMDB rating: 4.9)</br>
When Love Happens  (IMDB rating: 4.8)</br>
Indoo Ki Jawani  (IMDB rating: 2.0)</br>
Banana Split  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>