 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_0.html>
brought</br>
match</br>
country</br>
second</br>
successful</br>
wedding</br>
taken</br>
haunted</br>
decide</br>
movie</br>
investigate</br>
india</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1.html>
local</br>
place</br>
struggle</br>
forced</br>
working</br>
money</br>
company</br>
future</br>
small</br>
living</br>
women</br>
power</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_2.html>
lover</br>
older</br>
doctor</br>
filled</br>
court</br>
return</br>
single</br>
happy</br>
newly</br>
impossible</br>
romance</br>
unexpected</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_4.html>
beloved</br>
changed</br>
france</br>
country</br>
social</br>
movie</br>
british</br>
actor</br>
personal</br>
greatest</br>
director</br>
hollywood</br>
</a></div>
</div></br>
Top picks:</br>
Ramayan  (IMDB rating: 9.1)</br>
Leah Remini: Scientology and the Aftermath  (IMDB rating: 9.1)</br>
C/o Kancharapalem  (IMDB rating: 9.0)</br>
Bye Bye London  (IMDB rating: 9.0)</br>
Rubaru Roshni  (IMDB rating: 8.9)</br>
When They See Us  (IMDB rating: 8.9)</br>
Stories by Rabindranath Tagore  (IMDB rating: 8.8)</br>
Twin Peaks  (IMDB rating: 8.8)</br>
Car Masters: Rust to Riches  (IMDB rating: 8.8)</br>
Inception  (IMDB rating: 8.8)</br>
Narcos  (IMDB rating: 8.8)</br>
One-Punch Man  (IMDB rating: 8.8)</br>
Hospital Playlist  (IMDB rating: 8.7)</br>
Fate of Alakada  (IMDB rating: 8.7)</br>
Lenox Hill  (IMDB rating: 8.7)</br>
A Lion in the House  (IMDB rating: 8.7)</br>
Crash Landing on You  (IMDB rating: 8.7)</br>
BoJack Horseman  (IMDB rating: 8.7)</br>
Moving Art  (IMDB rating: 8.7)</br>
Twogether  (IMDB rating: 8.6)</br>
</br></br><a href=index.html>start over</a>