 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Midnight Diner: Tokyo Stories  (IMDB rating: 8.4)</br>
Dil Chahta Hai  (IMDB rating: 8.1)</br>
Girl From Nowhere  (IMDB rating: 7.8)</br>
The Challenge  (IMDB rating: 7.6)</br>
Familiar Wife  (IMDB rating: 7.5)</br>
Taramani  (IMDB rating: 7.5)</br>
Cheese in the Trap  (IMDB rating: 7.4)</br>
Kaminey  (IMDB rating: 7.4)</br>
Yuva  (IMDB rating: 7.4)</br>
Imago  (IMDB rating: 7.3)</br>
We Are Young. We Are Strong.  (IMDB rating: 7.1)</br>
Skin  (IMDB rating: 7.0)</br>
White Fang  (IMDB rating: 7.0)</br>
Charlie's Colorforms City  (IMDB rating: 7.0)</br>
For the Broken Hearted  (IMDB rating: 6.9)</br>
Baby Mamas  (IMDB rating: 6.8)</br>
Counterpunch  (IMDB rating: 6.7)</br>
Persona  (IMDB rating: 6.7)</br>
III Smoking Barrels  (IMDB rating: 6.6)</br>
Couple Of Days  (IMDB rating: 6.5)</br>
</br></br><a href=index.html>start over</a>