 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Arthdal Chronicles  (IMDB rating: 8.4)</br>
College Behind Bars  (IMDB rating: 8.3)</br>
Scissor Seven  (IMDB rating: 8.2)</br>
The Cartel  (IMDB rating: 8.2)</br>
Virunga  (IMDB rating: 8.2)</br>
SOTUS The Series  (IMDB rating: 8.1)</br>
Tim Minchin: So F**king Rock Live  (IMDB rating: 8.1)</br>
Hitler's Circle of Evil  (IMDB rating: 8.0)</br>
Bala Loca  (IMDB rating: 8.0)</br>
Chief of Staff  (IMDB rating: 7.9)</br>
El Chapo  (IMDB rating: 7.8)</br>
Good Girls  (IMDB rating: 7.8)</br>
Tom Segura: Disgraceful  (IMDB rating: 7.6)</br>
Hitler: A Career  (IMDB rating: 7.5)</br>
Into the Inferno  (IMDB rating: 7.2)</br>
Lost Song  (IMDB rating: 7.2)</br>
Jeffrey Epstein: Filthy Rich  (IMDB rating: 7.1)</br>
Duenos Del Paraiso  (IMDB rating: 7.0)</br>
Power Rangers Beast Morphers  (IMDB rating: 6.9)</br>
Bombay Talkies  (IMDB rating: 6.7)</br>
</br></br><a href=index.html>start over</a>