 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
StoryBots Super Songs  (IMDB rating: 8.6)</br>
Ask the Storybots  (IMDB rating: 8.4)</br>
Naruto  (IMDB rating: 8.3)</br>
Hyperdrive  (IMDB rating: 8.1)</br>
Marco Polo  (IMDB rating: 8.0)</br>
Great Pretender  (IMDB rating: 8.0)</br>
The Flash  (IMDB rating: 7.7)</br>
The Legend of White Snake  (IMDB rating: 7.6)</br>
Devilman: Crybaby  (IMDB rating: 7.6)</br>
Eddie: Strongman  (IMDB rating: 7.5)</br>
Danger Mouse  (IMDB rating: 7.4)</br>
Barça Dreams  (IMDB rating: 7.3)</br>
I Am Legend  (IMDB rating: 7.2)</br>
My Beautiful Broken Brain  (IMDB rating: 7.1)</br>
Ultraman  (IMDB rating: 6.9)</br>
Tenacious D in The Pick of Destiny  (IMDB rating: 6.8)</br>
DC's Legends of Tomorrow  (IMDB rating: 6.8)</br>
Freaks  (IMDB rating: 6.7)</br>
The Outsider  (IMDB rating: 6.7)</br>
Twelve Forever  (IMDB rating: 6.6)</br>
</br></br><a href=index.html>start over</a>