 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Norm Macdonald Has a Show  (IMDB rating: 8.7)</br>
Daniel Sloss: Live Shows  (IMDB rating: 8.6)</br>
Bo Burnham: What.  (IMDB rating: 8.5)</br>
Hibana: Spark  (IMDB rating: 8.0)</br>
Ari Eldjárn: Pardon My Icelandic  (IMDB rating: 7.9)</br>
Anthony Jeselnik: Thoughts and Prayers  (IMDB rating: 7.8)</br>
Vir Das: For India  (IMDB rating: 7.8)</br>
Jim & Andy: The Great Beyond- Featuring a Very Special, Contractually Obligated Mention of Tony Clifton  (IMDB rating: 7.7)</br>
Mike Birbiglia: The New One  (IMDB rating: 7.7)</br>
Schulz Saves America: Pandemics, Predators, Protests & Presidents  (IMDB rating: 7.5)</br>
Taylor Tomlinson: Quarter-Life Crisis  (IMDB rating: 7.4)</br>
Jo Koy: Comin’ In Hot  (IMDB rating: 7.3)</br>
Jimmy Carr: Funny Business  (IMDB rating: 7.2)</br>
Tom Papa: You're Doing Great!  (IMDB rating: 7.2)</br>
Gad Elmaleh: American Dream  (IMDB rating: 7.2)</br>
Yours Sincerely, Kanan Gill  (IMDB rating: 7.2)</br>
Jack Whitehall: At Large  (IMDB rating: 6.9)</br>
Vir Das: Outside in - The Lockdown Special  (IMDB rating: 6.9)</br>
Fortune Feimster: Sweet & Salty  (IMDB rating: 6.8)</br>
Huge in France  (IMDB rating: 6.8)</br>
</br></br><a href=index.html>start over</a>