 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Rilakkuma and Kaoru  (IMDB rating: 8.4)</br>
Vanished 46  (IMDB rating: 8.4)</br>
Call My Agent!  (IMDB rating: 8.3)</br>
I'm Sorry  (IMDB rating: 8.0)</br>
One Spring Night  (IMDB rating: 7.9)</br>
Was It Love  (IMDB rating: 7.2)</br>
Lady J  (IMDB rating: 6.9)</br>
Neevevaro  (IMDB rating: 6.8)</br>
Lion's Heart  (IMDB rating: 6.7)</br>
A Taiwanese Tale of Two Cities  (IMDB rating: 6.7)</br>
Holy Camp!  (IMDB rating: 6.3)</br>
I Care a Lot  (IMDB rating: 6.2)</br>
Forgive Us Our Debts  (IMDB rating: 6.0)</br>
</br></br><a href=index.html>start over</a>