 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Bill Hicks: Relentless  (IMDB rating: 8.7)</br>
True Tunes  (IMDB rating: 8.7)</br>
Julie and the Phantoms  (IMDB rating: 8.4)</br>
Taylor Swift: Reputation Stadium Tour  (IMDB rating: 8.4)</br>
Hip Hop Evolution  (IMDB rating: 8.4)</br>
The Get Down  (IMDB rating: 8.3)</br>
Shawn Mendes: Wonder  (IMDB rating: 8.2)</br>
Bill Hicks: One Night Stand  (IMDB rating: 8.2)</br>
Sinatra: All or Nothing at All  (IMDB rating: 8.0)</br>
The Mortified Guide  (IMDB rating: 7.9)</br>
Rhyme Time Town  (IMDB rating: 7.7)</br>
Rhythm + Flow  (IMDB rating: 7.7)</br>
Billy on the Street  (IMDB rating: 7.7)</br>
K-ON! The Movie  (IMDB rating: 7.6)</br>
Clive Davis: The Soundtrack of Our Lives  (IMDB rating: 7.5)</br>
45 RPM  (IMDB rating: 7.3)</br>
Fyre  (IMDB rating: 7.2)</br>
Ho Mann Jahaan  (IMDB rating: 7.1)</br>
Steve Martin and Martin Short: An Evening You Will Forget for the Rest of Your Life  (IMDB rating: 7.1)</br>
Tune in for Love  (IMDB rating: 7.1)</br>
</br></br><a href=index.html>start over</a>