 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_3_0.html>
spain</br>
investigate</br>
corruption</br>
local</br>
force</br>
small</br>
prison</br>
serial</br>
officer</br>
killer</br>
criminal</br>
police</br>
</a></div>
<div class="column"><a href=0_0_3_1.html>
children</br>
criminal</br>
heart</br>
personal</br>
husband</br>
mystery</br>
documentary</br>
known</br>
investigating</br>
police</br>
murder</br>
death</br>
</a></div>
<div class="column"><a href=0_0_3_2.html>
innocent</br>
wrong</br>
drama</br>
street</br>
elite</br>
police</br>
london</br>
criminal</br>
prison</br>
small</br>
murder</br>
crime</br>
</a></div>
<div class="column"><a href=0_0_3_3.html>
brother</br>
female</br>
present</br>
handsome</br>
mystery</br>
local</br>
criminal</br>
investigating</br>
murder</br>
police</br>
solve</br>
detective</br>
</a></div>
<div class="column"><a href=0_0_3_4.html>
video</br>
solve</br>
brother</br>
serial</br>
criminal</br>
truth</br>
investigation</br>
prison</br>
people</br>
husband</br>
sister</br>
murder</br>
</a></div>
</div></br>
Top picks:</br>
Fullmetal Alchemist: Brotherhood  (IMDB rating: 9.1)</br>
Sherlock  (IMDB rating: 9.1)</br>
Death Note  (IMDB rating: 9.0)</br>
The Dark Knight  (IMDB rating: 9.0)</br>
Better Call Saul  (IMDB rating: 8.7)</br>
Wentworth  (IMDB rating: 8.6)</br>
Making a Murderer  (IMDB rating: 8.6)</br>
Signal  (IMDB rating: 8.6)</br>
Stranger  (IMDB rating: 8.6)</br>
Mindhunter  (IMDB rating: 8.6)</br>
The Departed  (IMDB rating: 8.5)</br>
Hannibal  (IMDB rating: 8.5)</br>
Case Closed  (IMDB rating: 8.4)</br>
Live  (IMDB rating: 8.4)</br>
Top Boy  (IMDB rating: 8.4)</br>
Money Heist  (IMDB rating: 8.3)</br>
Andhadhun  (IMDB rating: 8.3)</br>
Longmire  (IMDB rating: 8.3)</br>
Wild District  (IMDB rating: 8.3)</br>
Shot in the Dark  (IMDB rating: 8.3)</br>
</br></br><a href=index.html>start over</a>