 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0_1_1.html>
dealing</br>
gangster</br>
underworld</br>
professional</br>
instead</br>
quest</br>
officer</br>
master</br>
eccentric</br>
survive</br>
indian</br>
mumbai</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_1_3.html>
country</br>
london</br>
working</br>
based</br>
girlfriend</br>
local</br>
stage</br>
santa</br>
magic</br>
legendary</br>
career</br>
future</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_1_4.html>
house</br>
called</br>
birth</br>
begin</br>
dream</br>
solve</br>
planet</br>
overcome</br>
person</br>
track</br>
memory</br>
reality</br>
</a></div>
</div></br>
Top picks:</br>
Leah Remini: Scientology and the Aftermath  (IMDB rating: 9.1)</br>
Bye Bye London  (IMDB rating: 9.0)</br>
Car Masters: Rust to Riches  (IMDB rating: 8.8)</br>
Crash Landing on You  (IMDB rating: 8.7)</br>
Lenox Hill  (IMDB rating: 8.7)</br>
Moving Art  (IMDB rating: 8.7)</br>
Roll with Me  (IMDB rating: 8.6)</br>
Sacred Games  (IMDB rating: 8.6)</br>
North & South  (IMDB rating: 8.6)</br>
Headspace Guide to Meditation  (IMDB rating: 8.6)</br>
Twogether  (IMDB rating: 8.6)</br>
On the Real  (IMDB rating: 8.6)</br>
Formula 1: Drive to Survive  (IMDB rating: 8.6)</br>
Code Geass: Lelouch of the Rebellion  (IMDB rating: 8.6)</br>
Emily's Wonder Lab  (IMDB rating: 8.6)</br>
Cobra Kai  (IMDB rating: 8.6)</br>
Borgen  (IMDB rating: 8.5)</br>
Last Chance U  (IMDB rating: 8.5)</br>
Delhi Crime  (IMDB rating: 8.5)</br>
No Direction Home: Bob Dylan  (IMDB rating: 8.5)</br>
</br></br><a href=index.html>start over</a>