 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0_0.html>
owner</br>
artist</br>
truth</br>
party</br>
money</br>
island</br>
learn</br>
forced</br>
struggle</br>
chance</br>
company</br>
small</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_1.html>
local</br>
stage</br>
magic</br>
legendary</br>
follow</br>
working</br>
santa</br>
career</br>
mumbai</br>
reality</br>
attempt</br>
future</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_2.html>
actor</br>
money</br>
successful</br>
boyfriend</br>
dream</br>
start</br>
social</br>
protect</br>
expert</br>
accident</br>
future</br>
living</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_3.html>
strange</br>
student</br>
training</br>
romance</br>
brutal</br>
africa</br>
apart</br>
break</br>
taking</br>
rescue</br>
prison</br>
place</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_4.html>
called</br>
teenage</br>
super</br>
extraordinary</br>
secretly</br>
identity</br>
spanish</br>
meeting</br>
agent</br>
ordinary</br>
discover</br>
inside</br>
</a></div>
</div></br>
Top picks:</br>
Leah Remini: Scientology and the Aftermath  (IMDB rating: 9.1)</br>
Bye Bye London  (IMDB rating: 9.0)</br>
C/o Kancharapalem  (IMDB rating: 9.0)</br>
When They See Us  (IMDB rating: 8.9)</br>
One-Punch Man  (IMDB rating: 8.8)</br>
Car Masters: Rust to Riches  (IMDB rating: 8.8)</br>
Inception  (IMDB rating: 8.8)</br>
Narcos  (IMDB rating: 8.8)</br>
Twin Peaks  (IMDB rating: 8.8)</br>
Moving Art  (IMDB rating: 8.7)</br>
A Lion in the House  (IMDB rating: 8.7)</br>
Lenox Hill  (IMDB rating: 8.7)</br>
Crash Landing on You  (IMDB rating: 8.7)</br>
Hospital Playlist  (IMDB rating: 8.7)</br>
Roll with Me  (IMDB rating: 8.6)</br>
Chef's Table  (IMDB rating: 8.6)</br>
Headspace Guide to Meditation  (IMDB rating: 8.6)</br>
Code Geass: Lelouch of the Rebellion  (IMDB rating: 8.6)</br>
North & South  (IMDB rating: 8.6)</br>
On the Real  (IMDB rating: 8.6)</br>
</br></br><a href=index.html>start over</a>