 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
John Mulaney: New in Town  (IMDB rating: 8.3)</br>
Jim Gaffigan: King Baby  (IMDB rating: 7.8)</br>
Marc Maron: Too Real  (IMDB rating: 7.2)</br>
Jeff Dunham: Minding the Monsters  (IMDB rating: 7.1)</br>
Franco Escamilla: For the Anecdote  (IMDB rating: 6.9)</br>
The American Bible Challenge  (IMDB rating: 6.7)</br>
D.L. Hughley: Contrarian  (IMDB rating: 6.6)</br>
Mau Nieto: viviendo sobrio… desde el bar  (IMDB rating: 6.6)</br>
Bridget Christie: Stand Up For Her  (IMDB rating: 6.4)</br>
Jeff Garlin: Our Man in Chicago  (IMDB rating: 5.9)</br>
Yoo Byung Jae: Too Much Information  (IMDB rating: 5.3)</br>
Todd Glass: Act Happy  (IMDB rating: 5.1)</br>
Tomasz Jachimek, Jacek Stramik Laugh at Live  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>