 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Trailer Park Boys Xmas Special  (IMDB rating: 8.0)</br>
Dash & Lily  (IMDB rating: 8.0)</br>
Sugar Rush Christmas  (IMDB rating: 6.9)</br>
Pee-wee's Big Holiday  (IMDB rating: 6.1)</br>
Dragons: Rescue Riders: Huttsgalor Holiday  (IMDB rating: 6.0)</br>
The Spooky Tale of Captain Underpants Hack-a-ween  (IMDB rating: 5.9)</br>
Spirit Riding Free: Spirit of Christmas  (IMDB rating: 5.9)</br>
A Very Murray Christmas  (IMDB rating: 5.5)</br>
Chico Bon Bon and the Very Berry Holiday  (IMDB rating: 5.5)</br>
A Trash Truck Christmas  (IMDB rating: 5.5)</br>
The A List  (IMDB rating: 5.4)</br>
Captain Underpants: Mega Blissmas  (IMDB rating: 5.2)</br>
Girlfriend's Day  (IMDB rating: 5.2)</br>
The App That Stole Christmas  (IMDB rating: 3.4)</br>
</br></br><a href=index.html>start over</a>