 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Russell Howard: Recalibrate  (IMDB rating: 7.4)</br>
Akbar Birbal  (IMDB rating: 7.3)</br>
The Cabin with Bert Kreischer  (IMDB rating: 7.3)</br>
Bill Burr: Walk Your Way Out  (IMDB rating: 7.3)</br>
Mukhsin  (IMDB rating: 7.2)</br>
Carlos Ballarta: Furia Ñera  (IMDB rating: 7.1)</br>
Lavell Crawford: Can a Brother Get Some Love?  (IMDB rating: 7.0)</br>
Gad Gone Wild  (IMDB rating: 6.9)</br>
Good Hair  (IMDB rating: 6.9)</br>
Jen Kirkman: Just Keep Livin'?  (IMDB rating: 6.7)</br>
The Epic Tales of Captain Underpants  (IMDB rating: 6.7)</br>
Chris D'Elia: Man on Fire  (IMDB rating: 6.6)</br>
Russell Peters: Almost Famous  (IMDB rating: 6.6)</br>
Ricardo Quevedo: Hay gente así  (IMDB rating: 6.5)</br>
Best.Worst.Weekend.Ever.  (IMDB rating: 6.4)</br>
Nailed It! France  (IMDB rating: 6.4)</br>
Rafinha Bastos: Ultimatum  (IMDB rating: 6.4)</br>
Alex Fernández: The Best Comedian in the World  (IMDB rating: 6.2)</br>
DeRay Davis: How to Act Black  (IMDB rating: 6.2)</br>
Cedric the Entertainer: Live from the Ville  (IMDB rating: 6.0)</br>
</br></br><a href=index.html>start over</a>