 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
BoJack Horseman  (IMDB rating: 8.7)</br>
Get Shorty  (IMDB rating: 8.2)</br>
The Battered Bastards of Baseball  (IMDB rating: 8.0)</br>
Monty Python Live at the Hollywood Bowl  (IMDB rating: 7.9)</br>
Episodes  (IMDB rating: 7.8)</br>
They'll Love Me When I'm Dead  (IMDB rating: 7.4)</br>
The Disaster Artist  (IMDB rating: 7.4)</br>
The Hollywood Masters  (IMDB rating: 7.3)</br>
Mank  (IMDB rating: 7.0)</br>
The Other Side of the Wind  (IMDB rating: 6.8)</br>
The Resurrection of Gavin Stone  (IMDB rating: 6.2)</br>
Westside  (IMDB rating: 6.1)</br>
Hop  (IMDB rating: 5.4)</br>
Still Laugh-In: The Stars Celebrate  (IMDB rating: 5.1)</br>
The Great British Baking Show: Holidays  (IMDB rating: nan)</br>
Paul Hollywood's Big Continental Road Trip  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>