 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_0_0_0_1_0_1_3_0_0_0_0.html>
sinister</br>
lawyer</br>
leader</br>
reveal</br>
korea</br>
based</br>
south</br>
bring</br>
singer</br>
drawn</br>
agent</br>
favorite</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_1_3_0_0_0_1.html>
comedy</br>
demon</br>
teenager</br>
expert</br>
lawyer</br>
travel</br>
century</br>
revenge</br>
queen</br>
fellow</br>
beauty</br>
london</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_1_3_0_0_0_2.html>
reveal</br>
instead</br>
named</br>
passion</br>
comedy</br>
turned</br>
heart</br>
desperate</br>
getting</br>
struggling</br>
following</br>
girlfriend</br>
</a></div>
<div class="column"><a href=0_0_0_0_0_1_0_1_3_0_0_0_4.html>
balance</br>
musical</br>
teenage</br>
international</br>
seeking</br>
universe</br>
france</br>
based</br>
successful</br>
travel</br>
working</br>
search</br>
</a></div>
</div></br>
Top picks:</br>
Bye Bye London  (IMDB rating: 9.0)</br>
Crash Landing on You  (IMDB rating: 8.7)</br>
Code Geass: Lelouch of the Rebellion  (IMDB rating: 8.6)</br>
Cobra Kai  (IMDB rating: 8.6)</br>
Delhi Crime  (IMDB rating: 8.5)</br>
No Direction Home: Bob Dylan  (IMDB rating: 8.5)</br>
The Dragon Prince  (IMDB rating: 8.4)</br>
Ben Platt: Live from Radio City Music Hall  (IMDB rating: 8.4)</br>
The Sound of Your Heart  (IMDB rating: 8.3)</br>
Fauda  (IMDB rating: 8.2)</br>
Toast of London  (IMDB rating: 8.2)</br>
Samurai Gourmet  (IMDB rating: 8.2)</br>
HAPPY!  (IMDB rating: 8.2)</br>
Lucifer  (IMDB rating: 8.1)</br>
Cold Case Files  (IMDB rating: 8.1)</br>
Oh Yuck!  (IMDB rating: 8.1)</br>
Paranormal  (IMDB rating: 8.1)</br>
Unnatural Selection  (IMDB rating: 8.0)</br>
Star Trek: Deep Space Nine  (IMDB rating: 8.0)</br>
Challenger: The Final Flight  (IMDB rating: 7.9)</br>
</br></br><a href=index.html>start over</a>