 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Harishchandrachi Factory  (IMDB rating: 8.4)</br>
Lagaan: Once Upon a Time in India  (IMDB rating: 8.1)</br>
Bad Boy Billionaires: India  (IMDB rating: 8.0)</br>
Kai Po Che!  (IMDB rating: 7.7)</br>
Parmanu: The Story of Pokhran  (IMDB rating: 7.6)</br>
Delhis vackraste händer  (IMDB rating: 7.0)</br>
Tanu Weds Manu  (IMDB rating: 6.8)</br>
Sarkar  (IMDB rating: 6.8)</br>
Romeo Akbar Walter  (IMDB rating: 6.6)</br>
Life of An Outcast  (IMDB rating: 6.5)</br>
Singapore  (IMDB rating: 6.4)</br>
Un + une  (IMDB rating: 6.2)</br>
Anjaan: Rural Myths  (IMDB rating: 6.1)</br>
Hawaizaada  (IMDB rating: 5.5)</br>
War Chod Na Yaar  (IMDB rating: 5.4)</br>
Baadshaho  (IMDB rating: 4.9)</br>
Kaal  (IMDB rating: 4.6)</br>
The Big Day  (IMDB rating: 4.6)</br>
Oh Darling! Yeh Hai India!  (IMDB rating: 4.2)</br>
Joker  (IMDB rating: 2.4)</br>
</br></br><a href=index.html>start over</a>