 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_0_4_4_3_2.html>
comic</br>
little</br>
friend</br>
great</br>
secret</br>
london</br>
mission</br>
group</br>
modern</br>
follow</br>
travel</br>
world</br>
</a></div>
</div></br>
Top picks:</br>
Forensic Files  (IMDB rating: 8.8)</br>
Greatest Events of World War II in Colour  (IMDB rating: 8.7)</br>
Pose  (IMDB rating: 8.6)</br>
Bill Hicks: Revelations  (IMDB rating: 8.6)</br>
Community  (IMDB rating: 8.5)</br>
The Dark Crystal: Age of Resistance  (IMDB rating: 8.5)</br>
After Life  (IMDB rating: 8.4)</br>
Prison Playbook  (IMDB rating: 8.4)</br>
The Inbetweeners  (IMDB rating: 8.4)</br>
Dancing with the Birds  (IMDB rating: 8.3)</br>
Eternal Love  (IMDB rating: 8.3)</br>
Kiss the Ground  (IMDB rating: 8.3)</br>
Grace and Frankie  (IMDB rating: 8.3)</br>
Rectify  (IMDB rating: 8.3)</br>
The Motorbike Show  (IMDB rating: 8.3)</br>
Wakfu  (IMDB rating: 8.2)</br>
Shutter Island  (IMDB rating: 8.2)</br>
The King: Eternal Monarch  (IMDB rating: 8.2)</br>
Night on Earth  (IMDB rating: 8.2)</br>
Rising Phoenix  (IMDB rating: 8.1)</br>
</br></br><a href=index.html>start over</a>