 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_1_0.html>
couple</br>
friendship</br>
documentary</br>
father</br>
early</br>
daughter</br>
eventually</br>
mother</br>
crime</br>
family</br>
young</br>
story</br>
</a></div>
<div class="column"><a href=0_1_1.html>
student</br>
navigate</br>
television</br>
relationship</br>
heart</br>
summer</br>
partner</br>
college</br>
episode</br>
romantic</br>
story</br>
different</br>
</a></div>
<div class="column"><a href=0_1_2.html>
extraordinary</br>
comic</br>
murder</br>
online</br>
suicide</br>
singh</br>
young</br>
written</br>
family</br>
movie</br>
story</br>
based</br>
</a></div>
<div class="column"><a href=0_1_3.html>
television</br>
unknown</br>
revenge</br>
younger</br>
married</br>
world</br>
struggling</br>
child</br>
doesn</br>
kidnapped</br>
woman</br>
story</br>
</a></div>
<div class="column"><a href=0_1_4.html>
documentary</br>
complex</br>
mumbai</br>
japanese</br>
extraordinary</br>
young</br>
crime</br>
greatest</br>
powerful</br>
little</br>
world</br>
story</br>
</a></div>
</div></br>
Top picks:</br>
The Vietnam War  (IMDB rating: 9.1)</br>
The Last Dance  (IMDB rating: 9.1)</br>
Yeh Meri Family  (IMDB rating: 9.1)</br>
Humsafar  (IMDB rating: 9.0)</br>
David Attenborough: A Life on Our Planet  (IMDB rating: 9.0)</br>
College Romance  (IMDB rating: 8.9)</br>
The Crown  (IMDB rating: 8.7)</br>
House of Cards  (IMDB rating: 8.7)</br>
Madness in the Desert  (IMDB rating: 8.6)</br>
Ani... Dr. Kashinath Ghanekar  (IMDB rating: 8.6)</br>
Time: The Kalief Browder Story  (IMDB rating: 8.5)</br>
The Intouchables  (IMDB rating: 8.5)</br>
Robotech  (IMDB rating: 8.5)</br>
A Touch of Green  (IMDB rating: 8.5)</br>
Outlander  (IMDB rating: 8.4)</br>
The Last Kingdom  (IMDB rating: 8.4)</br>
Dangal  (IMDB rating: 8.4)</br>
Five Came Back  (IMDB rating: 8.3)</br>
Tales by Light  (IMDB rating: 8.3)</br>
Rookie Historian Goo Hae-Ryung  (IMDB rating: 8.2)</br>
</br></br><a href=index.html>start over</a>