 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
David Attenborough: A Life on Our Planet  (IMDB rating: 9.0)</br>
The Crown  (IMDB rating: 8.7)</br>
House of Cards  (IMDB rating: 8.7)</br>
Tales by Light  (IMDB rating: 8.3)</br>
Five Came Back  (IMDB rating: 8.3)</br>
The Gospel of Mark  (IMDB rating: 8.0)</br>
Luo Bao Bei  (IMDB rating: 8.0)</br>
Black  (IMDB rating: 8.0)</br>
Take the Ball, Pass the Ball  (IMDB rating: 8.0)</br>
Inside Bill's Brain: Decoding Bill Gates  (IMDB rating: 7.9)</br>
Nightcrawler  (IMDB rating: 7.9)</br>
Versailles  (IMDB rating: 7.9)</br>
Spotless  (IMDB rating: 7.8)</br>
Gotham  (IMDB rating: 7.8)</br>
Magi  (IMDB rating: 7.8)</br>
Invisible Essence: The Little Prince  (IMDB rating: 7.7)</br>
Refresh Man  (IMDB rating: 7.7)</br>
The Theory of Everything  (IMDB rating: 7.7)</br>
Spitfire  (IMDB rating: 7.6)</br>
Wake Up Sid  (IMDB rating: 7.6)</br>
</br></br><a href=index.html>start over</a>