 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
A Touch of Green  (IMDB rating: 8.5)</br>
Rookie Historian Goo Hae-Ryung  (IMDB rating: 8.2)</br>
TURN: Washington's Spies  (IMDB rating: 8.1)</br>
Luis Miguel: The Series  (IMDB rating: 8.1)</br>
Fire in the Blood  (IMDB rating: 7.7)</br>
Last Breath  (IMDB rating: 7.7)</br>
The Florida Project  (IMDB rating: 7.6)</br>
Quincy  (IMDB rating: 7.6)</br>
Get Me Roger Stone  (IMDB rating: 7.4)</br>
The Legend of Bruce Lee  (IMDB rating: 7.0)</br>
Part-Time Idol  (IMDB rating: 6.9)</br>
The Violin Player  (IMDB rating: 6.9)</br>
Psiconautas  (IMDB rating: 6.8)</br>
I Am Woman  (IMDB rating: 6.6)</br>
The Frozen Dead  (IMDB rating: 6.3)</br>
21 Thunder  (IMDB rating: 6.2)</br>
Jarhead: Law of Return  (IMDB rating: 5.7)</br>
The Young Messiah  (IMDB rating: 5.6)</br>
Angel Eyes  (IMDB rating: 5.6)</br>
The Last Airbender  (IMDB rating: 4.0)</br>
</br></br><a href=index.html>start over</a>