 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Last Kingdom  (IMDB rating: 8.4)</br>
Old Thieves: The Legend of Artegio  (IMDB rating: 8.2)</br>
Börü  (IMDB rating: 8.2)</br>
89  (IMDB rating: 7.8)</br>
The Trial of the Chicago 7  (IMDB rating: 7.8)</br>
Kung Fu Hustle  (IMDB rating: 7.7)</br>
On Children  (IMDB rating: 7.4)</br>
Greater  (IMDB rating: 7.3)</br>
I Called Him Morgan  (IMDB rating: 7.3)</br>
Containment  (IMDB rating: 7.2)</br>
Studio 54  (IMDB rating: 7.0)</br>
Jagat  (IMDB rating: 6.9)</br>
Filinta : Bir Osmanlı Polisiyesi  (IMDB rating: 6.7)</br>
Adrift  (IMDB rating: 6.6)</br>
War Machine  (IMDB rating: 6.0)</br>
History of Joy  (IMDB rating: 5.1)</br>
</br></br><a href=index.html>start over</a>