 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
High Score Girl  (IMDB rating: 8.0)</br>
Secret Superstar  (IMDB rating: 7.8)</br>
K-ON!  (IMDB rating: 7.7)</br>
Secret  (IMDB rating: 7.5)</br>
SuckSeed  (IMDB rating: 7.5)</br>
Classmates Minus  (IMDB rating: 7.4)</br>
Satan & Adam  (IMDB rating: 7.4)</br>
Simon  (IMDB rating: 7.2)</br>
Handsome Devil  (IMDB rating: 7.1)</br>
Take My Brother Away  (IMDB rating: 7.0)</br>
The Half of It  (IMDB rating: 6.9)</br>
4th Republic  (IMDB rating: 6.4)</br>
Benji  (IMDB rating: 6.3)</br>
Moms at War  (IMDB rating: 6.2)</br>
Westside Story  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>