 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_2_4_1.html>
close</br>
student</br>
sister</br>
biggest</br>
night</br>
elite</br>
ordinary</br>
unexpected</br>
identity</br>
popular</br>
romance</br>
school</br>
</a></div>
<div class="column"><a href=0_2_4_3.html>
escape</br>
attack</br>
competition</br>
order</br>
accidentally</br>
unknown</br>
girlfriend</br>
martial</br>
college</br>
world</br>
school</br>
student</br>
</a></div>
<div class="column"><a href=0_2_4_4.html>
accident</br>
elite</br>
family</br>
people</br>
super</br>
dealing</br>
navigate</br>
tragedy</br>
father</br>
world</br>
middle</br>
school</br>
</a></div>
</div></br>
Top picks:</br>
Castle and Castle  (IMDB rating: 8.6)</br>
ERASED  (IMDB rating: 8.5)</br>
Like Stars on Earth  (IMDB rating: 8.4)</br>
Puella Magi Madoka Magica  (IMDB rating: 8.3)</br>
Udaan  (IMDB rating: 8.2)</br>
Anohana: The Flower We Saw That Day  (IMDB rating: 8.2)</br>
A Love So Beautiful  (IMDB rating: 8.1)</br>
The End of the F***ing World  (IMDB rating: 8.1)</br>
Cardcaptor Sakura  (IMDB rating: 8.0)</br>
A Little Thing Called First Love  (IMDB rating: 8.0)</br>
Shadow of Truth  (IMDB rating: 8.0)</br>
Clannad  (IMDB rating: 7.9)</br>
The Fosters  (IMDB rating: 7.9)</br>
If Anything Happens I Love You  (IMDB rating: 7.9)</br>
How to Sell Drugs Online (Fast)  (IMDB rating: 7.9)</br>
The Magic School Bus  (IMDB rating: 7.8)</br>
Extracurricular  (IMDB rating: 7.7)</br>
Miraculous: Tales of Ladybug & Cat Noir  (IMDB rating: 7.7)</br>
West Beirut  (IMDB rating: 7.7)</br>
Undefeated  (IMDB rating: 7.7)</br>
</br></br><a href=index.html>start over</a>