 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_2_1_1.html>
unexpected</br>
abandoned</br>
enter</br>
named</br>
violence</br>
remote</br>
connection</br>
forest</br>
deadly</br>
really</br>
group</br>
school</br>
</a></div>
<div class="column"><a href=0_2_1_4.html>
truth</br>
light</br>
romance</br>
start</br>
force</br>
trying</br>
common</br>
going</br>
family</br>
friend</br>
teenager</br>
school</br>
</a></div>
</div></br>
Top picks:</br>
Haikyu!!  (IMDB rating: 8.7)</br>
Age of Rebellion  (IMDB rating: 8.7)</br>
Derry Girls  (IMDB rating: 8.4)</br>
Sex Education  (IMDB rating: 8.3)</br>
Kuroko's Basketball  (IMDB rating: 8.3)</br>
One Day at a Time  (IMDB rating: 8.2)</br>
American Vandal  (IMDB rating: 8.2)</br>
Ouran High School Host Club  (IMDB rating: 8.2)</br>
Meteor Garden  (IMDB rating: 8.1)</br>
A Silent Voice  (IMDB rating: 8.1)</br>
Hormones  (IMDB rating: 8.0)</br>
Toradora!  (IMDB rating: 8.0)</br>
The InBESTigators  (IMDB rating: 8.0)</br>
Maid Sama!  (IMDB rating: 8.0)</br>
Boys Over Flowers  (IMDB rating: 7.9)</br>
Kill la Kill  (IMDB rating: 7.9)</br>
The Prince of Tennis  (IMDB rating: 7.9)</br>
Dhh  (IMDB rating: 7.8)</br>
BEASTARS  (IMDB rating: 7.8)</br>
Good Morning Call  (IMDB rating: 7.7)</br>
</br></br><a href=index.html>start over</a>