 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Age of Rebellion  (IMDB rating: 8.7)</br>
Haikyu!!  (IMDB rating: 8.7)</br>
Derry Girls  (IMDB rating: 8.4)</br>
Kuroko's Basketball  (IMDB rating: 8.3)</br>
Sex Education  (IMDB rating: 8.3)</br>
American Vandal  (IMDB rating: 8.2)</br>
One Day at a Time  (IMDB rating: 8.2)</br>
A Silent Voice  (IMDB rating: 8.1)</br>
The InBESTigators  (IMDB rating: 8.0)</br>
Toradora!  (IMDB rating: 8.0)</br>
Hormones  (IMDB rating: 8.0)</br>
Boys Over Flowers  (IMDB rating: 7.9)</br>
The Prince of Tennis  (IMDB rating: 7.9)</br>
Dhh  (IMDB rating: 7.8)</br>
BEASTARS  (IMDB rating: 7.8)</br>
Superbad  (IMDB rating: 7.6)</br>
Basketball or Nothing  (IMDB rating: 7.5)</br>
Waiting for "Superman"  (IMDB rating: 7.5)</br>
It's Bruno!  (IMDB rating: 7.5)</br>
Alexa & Katie  (IMDB rating: 7.5)</br>
</br></br><a href=index.html>start over</a>