 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Anne with an E  (IMDB rating: 8.7)</br>
Stranger Things  (IMDB rating: 8.7)</br>
Broadchurch  (IMDB rating: 8.4)</br>
Gurren Lagann  (IMDB rating: 8.3)</br>
Article 15  (IMDB rating: 8.2)</br>
Bāhubali: The Beginning  (IMDB rating: 8.0)</br>
Angamaly Diaries  (IMDB rating: 8.0)</br>
In This Corner of the World  (IMDB rating: 7.8)</br>
Terrace House: Opening New Doors  (IMDB rating: 7.8)</br>
I Hear You  (IMDB rating: 7.8)</br>
What's Eating Gilbert Grape  (IMDB rating: 7.8)</br>
The Butterfly's Dream  (IMDB rating: 7.7)</br>
Spirit Riding Free: Riding Academy  (IMDB rating: 7.6)</br>
The Blue Umbrella  (IMDB rating: 7.5)</br>
Forgotten  (IMDB rating: 7.4)</br>
Jamtara - Sabka Number Ayega  (IMDB rating: 7.3)</br>
Uriyadi 2  (IMDB rating: 7.2)</br>
Namastey London  (IMDB rating: 7.1)</br>
Varane Avashyamund  (IMDB rating: 6.9)</br>
Paradise PD  (IMDB rating: 6.9)</br>
</br></br><a href=index.html>start over</a>