 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
My Mister  (IMDB rating: 9.1)</br>
La Niña  (IMDB rating: 8.7)</br>
March Comes in Like a Lion  (IMDB rating: 8.4)</br>
The Legend of Korra  (IMDB rating: 8.4)</br>
Tabula Rasa  (IMDB rating: 8.1)</br>
Khaani  (IMDB rating: 8.0)</br>
Someone Like You  (IMDB rating: 8.0)</br>
Save Me  (IMDB rating: 8.0)</br>
Jab We Met  (IMDB rating: 7.9)</br>
Jane the Virgin  (IMDB rating: 7.8)</br>
Charité at War  (IMDB rating: 7.8)</br>
Crazy Ex-Girlfriend  (IMDB rating: 7.8)</br>
Cairo Station  (IMDB rating: 7.6)</br>
Highway  (IMDB rating: 7.6)</br>
In The Bosom of a Thorn  (IMDB rating: 7.5)</br>
Green Frontier  (IMDB rating: 7.3)</br>
Fall In Love With Me  (IMDB rating: 7.2)</br>
Deadwind  (IMDB rating: 7.2)</br>
Lorena, Light-footed Woman  (IMDB rating: 7.0)</br>
The Body Remembers When the World Broke Open  (IMDB rating: 6.9)</br>
</br></br><a href=index.html>start over</a>