 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
It's Okay to Not Be Okay  (IMDB rating: 8.7)</br>
My Country: The New Age  (IMDB rating: 8.3)</br>
A Korean Odyssey  (IMDB rating: 8.1)</br>
Nobel  (IMDB rating: 8.1)</br>
Unorthodox  (IMDB rating: 8.0)</br>
Hi Bye, Mama!  (IMDB rating: 8.0)</br>
Mystic Pop-up Bar  (IMDB rating: 8.0)</br>
La Reina del Sur  (IMDB rating: 8.0)</br>
Memories of the Alhambra  (IMDB rating: 7.8)</br>
Blanche Gardin: I Talk to Myself  (IMDB rating: 7.8)</br>
Surga yang Tak Dirindukan  (IMDB rating: 7.8)</br>
Cake  (IMDB rating: 7.7)</br>
Doctor Foster  (IMDB rating: 7.7)</br>
Dil Se..  (IMDB rating: 7.6)</br>
Unbreakable Kimmy Schmidt  (IMDB rating: 7.6)</br>
Manorama Six Feet Under  (IMDB rating: 7.6)</br>
Juana Inés  (IMDB rating: 7.6)</br>
Lovestruck in the City  (IMDB rating: 7.5)</br>
Seven Souls in the Skull Castle  (IMDB rating: 7.5)</br>
That Thing Called Tadhana  (IMDB rating: 7.5)</br>
</br></br><a href=index.html>start over</a>