 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_3_1_0.html>
boyfriend</br>
losing</br>
music</br>
officer</br>
control</br>
incident</br>
group</br>
follow</br>
course</br>
friend</br>
power</br>
young</br>
</a></div>
<div class="column"><a href=0_3_1_1.html>
fighting</br>
friend</br>
woman</br>
mother</br>
strange</br>
living</br>
japan</br>
india</br>
brother</br>
village</br>
small</br>
young</br>
</a></div>
<div class="column"><a href=0_3_1_2.html>
inside</br>
tragic</br>
different</br>
friend</br>
african</br>
taken</br>
growing</br>
magical</br>
american</br>
animal</br>
journey</br>
young</br>
</a></div>
<div class="column"><a href=0_3_1_3.html>
later</br>
house</br>
unexpected</br>
search</br>
dream</br>
child</br>
teenage</br>
movement</br>
daughter</br>
heart</br>
young</br>
mother</br>
</a></div>
<div class="column"><a href=0_3_1_4.html>
suicide</br>
break</br>
quest</br>
group</br>
people</br>
named</br>
living</br>
survive</br>
solve</br>
future</br>
world</br>
young</br>
</a></div>
</div></br>
Top picks:</br>
Avatar: The Last Airbender  (IMDB rating: 9.2)</br>
The Untamed  (IMDB rating: 8.9)</br>
Mr. Sunshine  (IMDB rating: 8.8)</br>
Stranger Things  (IMDB rating: 8.7)</br>
Anne with an E  (IMDB rating: 8.7)</br>
Marvel's Daredevil  (IMDB rating: 8.6)</br>
Incomplete Life  (IMDB rating: 8.6)</br>
The Queen's Gambit  (IMDB rating: 8.6)</br>
Love on the Spectrum  (IMDB rating: 8.5)</br>
Broadchurch  (IMDB rating: 8.4)</br>
Gurren Lagann  (IMDB rating: 8.3)</br>
My Octopus Teacher  (IMDB rating: 8.3)</br>
The Witness Who Didn't See Anything  (IMDB rating: 8.3)</br>
A Clockwork Orange  (IMDB rating: 8.3)</br>
Article 15  (IMDB rating: 8.2)</br>
Little Things  (IMDB rating: 8.2)</br>
Kid Cosmic  (IMDB rating: 8.2)</br>
The Invisible Guest  (IMDB rating: 8.1)</br>
The Tudors  (IMDB rating: 8.1)</br>
Life of Brian  (IMDB rating: 8.1)</br>
</br></br><a href=index.html>start over</a>