 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Back to 1989  (IMDB rating: 8.4)</br>
Haider  (IMDB rating: 8.1)</br>
Captain Fantastic  (IMDB rating: 7.9)</br>
Miracle in Cell No. 7  (IMDB rating: 7.6)</br>
Stateless  (IMDB rating: 7.5)</br>
The Forest  (IMDB rating: 7.3)</br>
Way Back into Love  (IMDB rating: 7.3)</br>
Heidi  (IMDB rating: 7.2)</br>
Hasee Toh Phasee  (IMDB rating: 6.8)</br>
Oktoberfest: Beer & Blood  (IMDB rating: 6.8)</br>
Brother  (IMDB rating: 6.7)</br>
100% Halal  (IMDB rating: 6.6)</br>
Project Papa  (IMDB rating: 6.6)</br>
A Love Story  (IMDB rating: 6.5)</br>
The Bare-Footed Kid  (IMDB rating: 6.5)</br>
She Made Me a Criminal  (IMDB rating: 6.5)</br>
Mumbai's King  (IMDB rating: 6.4)</br>
The Space Between Us  (IMDB rating: 6.4)</br>
A Princess for Christmas  (IMDB rating: 6.4)</br>
The Mistress  (IMDB rating: 6.3)</br>
</br></br><a href=index.html>start over</a>