 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_4_2_1.html>
unexpected</br>
group</br>
follow</br>
death</br>
special</br>
wrong</br>
forced</br>
obsessed</br>
children</br>
comedy</br>
secret</br>
family</br>
</a></div>
<div class="column"><a href=0_4_2_2.html>
prince</br>
inside</br>
based</br>
space</br>
stand</br>
comic</br>
gangster</br>
suddenly</br>
apart</br>
animated</br>
world</br>
family</br>
</a></div>
</div></br>
Top picks:</br>
My Next Guest with David Letterman and Shah Rukh Khan  (IMDB rating: 9.2)</br>
Peaky Blinders  (IMDB rating: 8.8)</br>
The Repair Shop  (IMDB rating: 8.7)</br>
The Haunting of Hill House  (IMDB rating: 8.6)</br>
Marvel's The Punisher  (IMDB rating: 8.5)</br>
Ozark  (IMDB rating: 8.4)</br>
JoJo's Bizarre Adventure  (IMDB rating: 8.4)</br>
Heartland  (IMDB rating: 8.4)</br>
Masum  (IMDB rating: 8.4)</br>
Dear My Friends  (IMDB rating: 8.3)</br>
Atypical  (IMDB rating: 8.3)</br>
Eddie Murphy: Delirious  (IMDB rating: 8.2)</br>
The Blue Elephant Part 2  (IMDB rating: 8.2)</br>
Richard Pryor: Live in Concert  (IMDB rating: 8.2)</br>
Club de Cuervos  (IMDB rating: 8.2)</br>
There Will Be Blood  (IMDB rating: 8.2)</br>
The Walking Dead  (IMDB rating: 8.2)</br>
Flowers  (IMDB rating: 8.2)</br>
F is for Family  (IMDB rating: 8.0)</br>
Bloodline  (IMDB rating: 8.0)</br>
</br></br><a href=index.html>start over</a>