 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Peaky Blinders  (IMDB rating: 8.8)</br>
The Walking Dead  (IMDB rating: 8.2)</br>
Chilling Adventures of Sabrina  (IMDB rating: 7.5)</br>
Greenleaf  (IMDB rating: 7.4)</br>
Space Racers  (IMDB rating: 7.3)</br>
Pawn Stars  (IMDB rating: 7.2)</br>
Michael McIntyre: Showman  (IMDB rating: 7.2)</br>
La Pena Máxima  (IMDB rating: 6.8)</br>
Penguin Bloom  (IMDB rating: 6.8)</br>
A Very Special Love  (IMDB rating: 6.7)</br>
Roxanne, Roxanne  (IMDB rating: 6.2)</br>
Dawn of the Croods  (IMDB rating: 6.0)</br>
The Mist  (IMDB rating: 5.4)</br>
The Silence  (IMDB rating: 5.3)</br>
The Tribe  (IMDB rating: 4.5)</br>
The Guardian Brothers  (IMDB rating: nan)</br>
</br></br><a href=index.html>start over</a>