 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_4_3_0.html>
daughter</br>
simple</br>
quest</br>
event</br>
death</br>
powerful</br>
holiday</br>
estranged</br>
mother</br>
young</br>
family</br>
father</br>
</a></div>
<div class="column"><a href=0_4_3_1.html>
romantic</br>
person</br>
struggling</br>
daughter</br>
demon</br>
older</br>
wedding</br>
little</br>
younger</br>
sister</br>
brother</br>
family</br>
</a></div>
<div class="column"><a href=0_4_3_3.html>
powerful</br>
america</br>
beautiful</br>
search</br>
young</br>
movie</br>
faith</br>
action</br>
friend</br>
country</br>
family</br>
daughter</br>
</a></div>
<div class="column"><a href=0_4_3_4.html>
given</br>
romance</br>
rescue</br>
husband</br>
street</br>
different</br>
marry</br>
career</br>
missing</br>
american</br>
young</br>
family</br>
</a></div>
</div></br>
Top picks:</br>
Breaking Bad  (IMDB rating: 9.5)</br>
Reply 1988  (IMDB rating: 9.1)</br>
Demon Slayer: Kimetsu no Yaiba  (IMDB rating: 8.7)</br>
Shameless  (IMDB rating: 8.6)</br>
Peasants Rebellion  (IMDB rating: 8.6)</br>
The Garden of Heaven  (IMDB rating: 8.6)</br>
Day And Night  (IMDB rating: 8.3)</br>
Drishyam  (IMDB rating: 8.2)</br>
Kim's Convenience  (IMDB rating: 8.2)</br>
Gardeners of Eden  (IMDB rating: 8.1)</br>
Izzy's Koala World  (IMDB rating: 8.1)</br>
The Umbrella Academy  (IMDB rating: 8.0)</br>
Hole in the Wall  (IMDB rating: 7.9)</br>
InuYasha  (IMDB rating: 7.9)</br>
Kabhi Haan Kabhi Naa  (IMDB rating: 7.8)</br>
Agneepath  (IMDB rating: 7.7)</br>
If I Hadn't Met You  (IMDB rating: 7.7)</br>
Dolly Parton's Heartstrings  (IMDB rating: 7.7)</br>
Santa Claws  (IMDB rating: 7.6)</br>
Old Money  (IMDB rating: 7.6)</br>
</br></br><a href=index.html>start over</a>