 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
The Garden of Heaven  (IMDB rating: 8.6)</br>
Kim's Convenience  (IMDB rating: 8.2)</br>
The Umbrella Academy  (IMDB rating: 8.0)</br>
InuYasha  (IMDB rating: 7.9)</br>
If I Hadn't Met You  (IMDB rating: 7.7)</br>
Agneepath  (IMDB rating: 7.7)</br>
Santa Claws  (IMDB rating: 7.6)</br>
Old Money  (IMDB rating: 7.6)</br>
Dick Johnson Is Dead  (IMDB rating: 7.5)</br>
Saawan  (IMDB rating: 7.4)</br>
Cinderella and Four Knights  (IMDB rating: 7.4)</br>
Material  (IMDB rating: 7.3)</br>
Mad World  (IMDB rating: 7.3)</br>
Marlon  (IMDB rating: 7.0)</br>
Kingdom of Us  (IMDB rating: 7.0)</br>
Apaches  (IMDB rating: 7.0)</br>
The Meyerowitz Stories (New and Selected)  (IMDB rating: 6.9)</br>
Calm with Horses  (IMDB rating: 6.9)</br>
Eye for an Eye  (IMDB rating: 6.6)</br>
Fanatyk  (IMDB rating: 6.6)</br>
</br></br><a href=index.html>start over</a>