 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</div></br>
Top picks:</br>
Reply 1988  (IMDB rating: 9.1)</br>
Demon Slayer: Kimetsu no Yaiba  (IMDB rating: 8.7)</br>
Day And Night  (IMDB rating: 8.3)</br>
Violet Evergarden: Eternity and the Auto Memory Doll  (IMDB rating: 7.4)</br>
Raising Victor Vargas  (IMDB rating: 7.2)</br>
Mirai  (IMDB rating: 7.0)</br>
Dil Dhadakne Do  (IMDB rating: 6.9)</br>
Kalakalappu  (IMDB rating: 6.8)</br>
Isoken  (IMDB rating: 6.5)</br>
Our Idiot Brother  (IMDB rating: 6.4)</br>
The Boss Baby: Back in Business  (IMDB rating: 6.4)</br>
Autumn  (IMDB rating: 6.4)</br>
The Promise  (IMDB rating: 6.4)</br>
I, Potro  (IMDB rating: 6.3)</br>
Nightmare in Columbia County  (IMDB rating: 5.8)</br>
All's Well, Ends Well 2009  (IMDB rating: 4.8)</br>
</br></br><a href=index.html>start over</a>