 <head>
   <style>
   {
       box-sizing: border-box;
   }
   .column {
   float: left;
   width: 19%;
   }

   .row:after {
   content: "";
   display: table;
   clear: both;
   }
   </style>
</head>
<strong>What Should I Watch on Netflix?</strong></br></br>

<div class="row">
</br>Choose a list of words:</br>
<div class="column"><a href=0_4_4_0.html>
feature</br>
reveal</br>
growing</br>
looking</br>
friendship</br>
getting</br>
beautiful</br>
quickly</br>
brother</br>
balance</br>
family</br>
learn</br>
</a></div>
</div></br>
Top picks:</br>
Regiment Diaries  (IMDB rating: 9.1)</br>
Puffin Rock  (IMDB rating: 8.7)</br>
The Promised Neverland  (IMDB rating: 8.7)</br>
Velvet  (IMDB rating: 8.1)</br>
Ankhon Dekhi  (IMDB rating: 8.0)</br>
About Time  (IMDB rating: 7.8)</br>
Madam Secretary  (IMDB rating: 7.6)</br>
Norman Lear: Just Another Version of You  (IMDB rating: 7.2)</br>
Oyunbozan  (IMDB rating: 6.9)</br>
Free State of Jones  (IMDB rating: 6.9)</br>
Hillbilly Elegy  (IMDB rating: 6.8)</br>
Our Godfather  (IMDB rating: 6.8)</br>
Just Another Christmas  (IMDB rating: 6.7)</br>
Holiday Secrets  (IMDB rating: 6.5)</br>
The Willoughbys  (IMDB rating: 6.4)</br>
The Tree of Blood  (IMDB rating: 6.4)</br>
Supergirl  (IMDB rating: 6.3)</br>
Alelí  (IMDB rating: 6.3)</br>
Laddaland  (IMDB rating: 6.3)</br>
Lara and the Beat  (IMDB rating: 6.2)</br>
</br></br><a href=index.html>start over</a>